<h2>Save your new task</h2>
<%# <form method="post" action="/new" method="get">
  <input type="text" name="title" placeholder="Title?">
  <input type="text" name="detail" placeholder="Explain the task">
  <input type="boolean" name="detail" placeholder="I it done?">
  <input type="submit">
</form> %>


<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :detail %>
  <%= f.text_field :detail %>
  <%= f.submit %>
<% end %>

  
